Импортируем библиотеку pandas и загружаем данные из файла titanic.csv. Это список пассажиров Титаника, где указаны их данные и то, выжили ли они после кораблекрушения.

In [22]:
import pandas as pd
df = pd.read_csv('titanic.csv')
# df_copy = df.copy(deep=True)

Посмотрим структуру данных с помощью метода head:

In [23]:
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

В столбце Pclass указан класс, в котором путешествовал пассажир. Сколько пассажиров было в первом классе? Во сколько раз их меньше, чем пассажиров третьего класса?

In [24]:
first_class = df[df['Pclass'] == 1]['Pclass'].count()
third_class = df[df['Pclass'] == 3]['Pclass'].count()
print('Количество пассажиров первого класса:', first_class)
print('Количество пассажиров третьего класса:', third_class)
print('Пассажиров первого класса в {:.2f} меньше, чем пассажиров третьего класса.'.format(third_class/first_class))

Количество пассажиров первого класса: 216
Количество пассажиров третьего класса: 491
Пассажиров первого класса в 2.27 меньше, чем пассажиров третьего класса.

Сколько процентов пассажиров выжило?

In [25]:
survived = df[df['Survived'] == 1]['Survived'].count()
print('{:.2%} пассажиров выжило.'.format(survived/df.shape[0]))

38.38% пассажиров выжило.

Кого на корабле было больше: мужчин или женщин?

In [26]:
# P_sex = data['Sex'].value_counts()
# if  P_sex['male'] > P_sex['female']:
#     print('Мужчин больше, чем женщин')
# elif P_sex['male'] == P_sex['female']: 
#     print('Равное количество')
# else:
#     print('Женщин больше, чем мужчин')

men = df[df['Sex'] == 'male']['Sex'].count()
women = df[df['Sex'] == 'female']['Sex'].count()
if men > women:
    print('Мужчин больше, чем женщин')
elif women > men:
    print('Женщин больше, чем мужчин')
else:
    print('Равное количество')

Мужчин больше, чем женщин

Посчитать средний и медианный возраст пассажиров. Сравните их со средним и медианным возрастом выживших пассажиров.

In [27]:
print('Средний возраст пассажиров: {:.2f}'.format(df['Age'].mean()))
print('Медианный возраст пассажиров: {:.1f}'.format(df['Age'].median()))
print('Средний возраст выживших пассажиров: {:.2f}'.format(df[df['Survived'] == 1]['Age'].mean()))  
print('Медианный возраст выживших пассажиров: {:.1f}'.format(df[df['Survived'] == 1]['Age'].median()))


# df_copy.dropna(subset = ['Age'], inplace= True)

# ages = list(df_copy['Age'])
# ages_survived = list(df_copy[df_copy['Survived'] == 1]['Age'])

# def average_age(list_of_age):
#     return sum(list_of_age)/len(list_of_age)

# def median_age(list_of_age):
#     sorted_ages = sorted(list_of_age)
#     if len(sorted_ages) % 2 == 0:
#         return (sorted_ages[(len(sorted_ages)//2)] + sorted_ages[(len(sorted_ages)//2)-1])/2
#     else:
#         return sorted_ages[(len(sorted_ages)//2)]

# print('Средний возраст пассажиров: {:.2f}'.format(average_age(ages)))
# print('Медианный возраст пассажиров: ', median_age(ages))

# print('Средний возраст выживших пассажиров: {:.2f}'.format(average_age(ages_survived)))  
# print('Медианный возраст выживших пассажиров: ', median_age(ages_survived))

Средний возраст пассажиров: 29.70
Медианный возраст пассажиров: 28.0
Средний возраст выживших пассажиров: 28.34
Медианный возраст выживших пассажиров: 28.0

В таблице есть столбец SibSp - это число братьев/сестер/супругов человека. Также в столбце Parch записано количество родителей/детей. Посмотрим, как коррелируют эти величины.

In [28]:
# siblings - братья и сестры

# df['Family_members'] = df['Parch'] + df['SibSp']
# df['Is_Alone'] = df['Family_members'] == 0
# df.head(15)

# correlation_data = df[['SibSp','Parch']]
# print(correlation_data.corr())

print('Коэффициент корреляции: {:.3f}'.format(df['SibSp'].corr(df['Parch'], method='pearson')))

# Слабая положительная корреляция

Коэффициент корреляции: 0.415

Какое самое популярное женское имя на корабле? Обратите внимание, формат записи имен различается, поэтому нужно предварительно выделить из записи само имя.

In [29]:
import re
from collections import Counter

full_female_names = df[df['Sex'] == 'female']['Name']


# Удобней написать функцию, которая из входной строки выбирает имя:

def get_name(s):
    
    pattern_1 = re.compile('Mrs.\s.*\((\w+)')
    pattern_2 = re.compile('\.\s(\w+)')
    pattern_3 = re.compile('\.\s\((\w+)')
    
# У замужних женщин чаще всего после "Mrs." стоит имя мужа, а имя и фамилия женщины располагаются в скобках.
# Сначала анализируем имена замужних женщин в скобках, а потом все остальные.

    if pattern_1.search(s):
        first_name = pattern_1.search(s).group(1)
        return first_name
    elif not pattern_1.search(s) and pattern_2.search(s):
        first_name = pattern_2.search(s).group(1)
        return first_name
    elif not pattern_1.search(s) and not pattern_2.search(s) and pattern_3.search(s):
        first_name = pattern_3.search(s).group(1)
        return first_name   
    
# Создадим список, в который будем складывать полученные имена.

name_list = []

for line in full_female_names:
    if get_name(line) != None:
        name_list.append(get_name(line))

# print(name_list)

# Теперь нужно найти самое распространенное в списке имя.

def most_freq_name(any_name_list):
    counter = Counter(any_name_list)
#     print(counter.most_common(5))
#     return sorted(counter.keys(), key=lambda k: -counter[k])[0]
    return max(counter.keys(), key=lambda k: counter[k])

print('Самое популярное женское имя на корабле:', most_freq_name(name_list))

Самое популярное женское имя на корабле: Anna

Создать словарь, где ключи - выделенные женские имена, а значения - количество невыживших с этими именами.

In [39]:
from collections import Counter

# female_names_non_surv = {}

women_data = df[df['Sex'] == 'female']
women_full_names_non_survived = women_data[women_data['Survived'] == 0]


counter = Counter()

for line in women_full_names_non_survived['Name']:
    if get_name(line) != None:
        name = get_name(line)
        counter[name] += 1   
#         female_names_non_surv[name] = counter[name]

# print(female_names_non_surv)
print(dict(counter.items()))

{'Hulda': 1, 'Emelia': 1, 'Torborg': 1, 'Augusta': 3, 'Johanna': 1, 'Dorothy': 2, 'Josefine': 1, 'Lillian': 1, 'Matilda': 1, 'Hileni': 1, 'Katriina': 1, 'Malake': 1, 'Ellis': 1, 'Grace': 1, 'Sultana': 1, 'Robina': 1, 'Anna': 3, 'Ann': 1, 'Constance': 1, 'Henriette': 1, 'Telma': 1, 'Mathilde': 1, 'Alice': 1, 'Thamine': 1, 'Agda': 1, 'Elna': 1, 'Helena': 1, 'Delia': 1, 'Aloisia': 1, 'Helen': 1, 'Annie': 2, 'Catherine': 3, 'Stina': 1, 'Elina': 1, 'Mari': 1, 'Marija': 2, 'Ida': 2, 'Catharina': 1, 'Doolina': 1, 'Jeannie': 1, 'Bessie': 1, 'Mary': 4, 'Bridget': 1, 'Kristina': 1, 'Ingeborg': 1, 'Sigrid': 1, 'Marion': 1, 'Alma': 1, 'Maria': 2, 'Alfrida': 1, 'Cordelia': 1, 'Mabel': 1, 'Margit': 1, 'Hanora': 1, 'Katie': 1, 'Saiide': 1, 'Pieta': 1, 'Margaret': 2, 'Stella': 1, 'Rosalie': 1, 'Ellen': 1, 'Ebba': 1, 'Wendla': 1, 'Nourelain': 1, 'Lilian': 1, 'Gerda': 1}